{% extends "admin.html" %}

{% block css %}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='/css/Docente.css') }}"
/>
{% endblock %}

{% block b %}

<div class="Estudiantes">
    <h2>Estudiantes</h2>
    <div class="container">
        <h1>Notas de Estudiantes</h1>
        <table border="1">
            <tr>
                <th>Nombre del Estudiante</th>
                {% for i in range(1,numero+1) %}
                <th>Nota {{ i }}</th>
                {% endfor %}
            </tr>
            {% for nombre, notas in notas.items() %}
            <tr>
                <td>{{ nombre }}</td>
                {% for nota in notas %}
                <td>{{ nota }}</td>
                <td>
                    <a href="/editar/{{ elemento.id }}">Editar</a>
                    <a href="/eliminar/{{ elemento.id }}">Eliminar</a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
